* {
	margin:0;
	padding:0;
}

 body {
  	height:100%;
  	width:100%;
  	background-image:url("god.jpg");
 }

 

 

 #head {
 	text-align:center;
 	color:white;
 }


 #mlg {
 	font-size:50px;
 	color:white;
 }

 #day {
 	font-size:25px;
 	color:white;
 }

 #quote {
 	font-size:20px;
 	color:white;
 }

 

 button {

 	background:#FF453E;
 	width:400px;
 	height:60px;
 }

 button:hover {
 	background:#475BFF;
 }


.style{
	color:white;
	font-size:25px;
}

#row0 {
	display:flex;
	justify-content:center;
	margin-bottom:15px;
	 
}

 #row1 {
 	margin-top:3px;
 	display:flex;
 	justify-content:center;
 }

#row2 {
	margin-top:3px;
	display:flex;
	justify-content:center;
}

#row3 {
	margin-top:3px;
	display:flex;
	justify-content:center;
}


#row4 {
	margin-top:3px;
	display:flex;
	justify-content:center;
}


#row5 {
	margin-top:3px;
	display:flex;
	justify-content:center;
}


#row6 {		
	margin-top:3px;
	display:flex;
	justify-content:center;
}

#row7 {
	margin-top:3px;
	display:flex;
	justify-content:center;

}


#row8 {
		margin-top:3px;
	display:flex;
	justify-content:center;

}

 
.name {

	font-size:15px;
	color:white;
	text-align:center;
}
 
a {
	text-decoration:none;
					
	font-size:20px;
}

a:hover {
	text-decoration:none;
}

 h1 a {
 	color:white;
 	text-decoration:none;

 }

 h1 a:hover {
 	color:black;
 	text-decoration:none;
 }

